:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #022bb2;
    --secondary-color: #0840f1;
    --inverted-primary-color: #0c830c;
    --inverted-secondary-color: #04ff04;
}
